<!DOCTYPE html>
<html>
<head>
  <title>PgMonitor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script>
    function showTab(tabId) {
      document.querySelectorAll('.tab').forEach(tab => {
        tab.classList.remove('active');
      });
      document.getElementById(tabId).classList.add('active');
    }
  </script>
  <style>
    .tab {
      display: none;
    }
    .tab.active {
      display: block;
    }
    body {
      padding: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="btn-group tab-buttons" role="group">
      <button type="button" class="btn btn-primary" onclick="showTab('index-usage')">Index Usage</button>
      <button type="button" class="btn btn-secondary" onclick="showTab('slow-queries')">Slow Queries</button>
    </div>

    <div id="index-usage" class="tab active">
      <h1>Index Usage Statistics</h1>
      <%= erb :index_usage_table, layout: false, locals: { index_usage: @index_usage } %>
    </div>

    <div id="slow-queries" class="tab">
      <h1>Slow Queries</h1>
      <%= erb :slow_queries_table, layout: false, locals: { slow_queries: @slow_queries } %>
    </div>
  </div>
</body>
</html>
